@viewport {
    width: device-width;
    zoom: 1.0;
}

/* add font to whole webpage, add smooth scrolling when selecting section of webpage */
html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* add light grey background colour, make sections take up whole page */
body {
    background-color: #E2E5DE;
    transition: background-color 0.75s ease;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

a {
    text-decoration: none;
}

.dark-mode {
    background-color: black;
}

/* Add transition to color and background-color properties */
.logo,
.navbar,
.navbar a,
.projects,
.about-container,
.project-container,
.contact-container,
.footer,
.footer-text,
.links {
    transition: color 0.75s ease, background-color 0.75s ease;
}

.dark-mode .footer-text,
.dark-mode .links,
.dark-mode .logo,
.dark-mode .navbar a,
.dark-mode .projects,
.dark-mode .about-container,
.dark-mode .project-container,
.dark-mode .contact-container {
    color: white;
    background-color: inherit;
}

.dark-mode-button {
    white-space: nowrap;
}

.dark-mode .navbar a:hover {
    color: grey;
}

body:not(.dark-mode) .navbar .dark-mode-button {
    color: #ff6961;
}

body.dark-mode .navbar .dark-mode-button {
    color: #77DD77;
}

.social-image {
    filter: none;
    width: 2%;
}
  
.dark-mode .social-image {
    filter: invert(100%);
}

/* add style to 'sam thomson' logo */
.logo {
    background-color: #E2E5DE;
    position: fixed;
    left: 0;
    right: auto;
    border-radius: 25px;
    text-align: center;
    color: black;
    font-size: 17px;
    padding-left: 1%;
    padding-right: 1%;
    border: 2px solid #ffffff40;
    margin-left: 5%;
    margin-right: auto;
}

/* add style to navbar */
.navbar {
    overflow: hidden;
    display: flex;
    position: fixed;
    left: auto;
    right: 0;
    margin-left: auto;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ffffff40;
    backdrop-filter: blur(15px);
    transition: background-color 0.75s ease;
}

.navbar h3 {
    margin-left: 10px;
    margin-right: 10px;
}
  
.navbar a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: grey;
}

.about-container {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 25px;
    position: relative;
    border: 2px solid #ffffff40;
    padding: 3rem 5rem;
    text-align: right;
    display: flex;
    align-items: center;
    background-color: #E2E5DE;   
}

.about-container h1 {
    text-align: right;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    width: 100%;
    padding-top: 7.5%;
}

.project {
    height: calc(100vh - 65vh);
    z-index: 1;
}

.project-desc-button,
.project-preview-button,
.project-code-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #8C8C8C;
    overflow: hidden;
    justify-content: flex-end;
    display: flex;
    border-radius: 25px;
    text-align: center;
    color: #E2E5DE;
    padding: 1%;
    border: 2px solid #ffffff40;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.project-desc-button:hover,
.project-preview-button:hover,
.project-code-button:hover {
    background-color: #FDFDFD;
    color: black;
}

.submit-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #8C8C8C;
    overflow: hidden;
    justify-content: flex-end;
    display: flex;
    border-radius: 25px;
    text-align: center;
    color: #E2E5DE;
    padding: 1%;
    border: 2px solid #ffffff40;
    cursor: pointer;
    font-weight: bold;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 18px 200px -60px black;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff40;
    background-color: #E2E5DE;
    color: black;
}

#projects-desktop {
    display: block;
}

#projects-mobile {
    display: none;
}

.project-image {
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    padding-bottom: 5%;
}

.contact-container {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 25px;
    width: 100%;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff40;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 1;
}

.contact-container label {
    font-weight: bold;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 5%;
}

.submit-button:hover {
    background-color: #FDFDFD;
    color: black;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.footer-text {
    text-align: center;
}

.links {
    text-align: center;
    padding-bottom: 1%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* Adjustments for screens up to 768px width */
    .logo {
        display: none;
    }

    .navbar {
        position: fixed;
        margin-left: 5%;
        margin-right: 5%;
        left: 0;
        right: 0;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
  
    .section {
        height: 100vh;
        flex-direction: column;
    }

    .section #projects {
        height: 150vh;
    }

    .project {
        height: calc(100vh - 70vh);
        margin-bottom: 2rem;
    }

    .project-container {
        background-color: #E2E5DE;
    }

    .contact-container {
        width: auto;
    }

    .social-image {
        width: 4%;
    }
}

@media screen and (max-width: 480px) {
    /* Adjustments for screens up to 480px width */
    body {
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 0.25rem; 
        padding-right: 0.25rem;
    }

    .logo {
        display: none;
    }

    .navbar {
        position: fixed;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .projects-mobile-container {
        padding-top: 60%;
    }

    #projects-desktop {
        display: none;
    }

    .project:not(:first-child) {
        display: none; /* Hide all projects except the first one initially */
    }

    #projects-mobile {
        display: block;
    }

    .project-navigation {
        display: flex;
        justify-content: space-between;
    }
    
    .prev-project:hover,
    .next-project:hover {
        background-color: #FDFDFD;
        color: black;
    }

    .prev-project,
    .next-project {
        background-color: #8C8C8C;
        border: 2px solid #ffffff40;
        border-radius: 25px;
        color: #E2E5DE;
        cursor: pointer;
        padding: 0.5rem 1rem;
        font-weight: bold;
    }

    .prev-project:hover,
    .next-project:hover {
        background-color: #FDFDFD;
        color: black;
    }

    .links {
        padding-bottom: 10%;
    }
}